<!doctype html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="app.css">
    </head>
    <body>
        <h1>Santa's List!</h1>
        <ol class="left">
            {{~it.family :person:index}}
                <li>{{=person}} =></li>
            {{~}}
        </ol>
        <ol class="left">
        {{~it.targets :person:index}}
                <li>{{=person}}</li>
            {{~}}
        </ol>
    </body>
</html>
